html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

.app {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: clamp(24px, 4vh, 48px);
}
